<body>
	<div id="title">(주)충북제일종합주방</div>
	<div id="box">
		<div id="upCircle"></div>
		<div id="downCircle"></div>
		<div id="price"><%= price %></div>
	</div>
	<div id="registered_date"><%= registered_date %></div>
	<div id="name">품명: <%= name %></div>
	<div id="size">규격: <%= size %></div>
	<div id="cart">장바구니 담기</div>
	<div id="test"></div>

</body>
<script type="text/javascript" src="/js/pricetag.js"></script>
<link rel="stylesheet" href="/css/pricetag.css">
