<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/printQRcode.css">
	</head>
	<body>
		<p>수량 : <%= obj.length %></p>
		<% for(var i=0; i<obj.length; i++){ %>
			<div class="each">
				<div id="qrcode_<%= i %>"></div>
				<div>name: <br>code: </div>
				<br>
				<svg id="barcode_<%= i %>"></svg>
			</div>


		<% } %>
	</body>
</html>

<script>
	const obj = <%- JSON.stringify(obj) %>;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.4/dist/JsBarcode.all.min.js"></script>
<script type="text/javascript" src="/js/printQRcode.js"></script>
