body {
	margin: 0;
}

#title1 {
	position: absolute;
	width: 100vw;
	height: 3vh;
}

#title {
	position: absolute;
	width: 100vw;
	height: 13vh;
	border-radius: 1rem;
}

#searchForm {
	position: relative;
	width: 90vw;
	top: 17vh;
	left: 5vw;
}
#searchForm>input {
	width: 70%;
}
#searchForm>button {
	width: 25%;
}

#visitorListSection {
	position: relative;
	width: 90vw;
	top: 25vh;
	left: 5vw;
}
#selectTip {
	margin-bottom: 2vh;
}

#visitorListDiv {
	border: solid 1px red;
	border-radius: 1rem;
	margin-bottom: 1vh;
}

#visitorListDiv:active {
	background-color: hsl(348, 100%, 61%);
}
