body {
	margin: 0;
}

#search {
	position: absolute;
	top: 5vh;
}
#search>form>input {
	margin-left: 5vw;
	height: 6vh;
	font-size: 60px;
	padding: 2vw;
}
#textBox {
	border: solid 2px grey;
	width: 60vw;
	height: 6vh;
}
#searchTip {
	font-size: 45px;
	margin-top: 2vh;
	margin-left: 6vw;
}

#selectTip {
	position: absolute;
	top: 25vh;
	left: 6vw;
	font-size: 45px;
}
#list {
	position: absolute;
	top: 30vh;
	left: 5vw;
	width: 86vw;
	font-size: 80px;
	border: solid 2px grey;
	padding: 2vw 2vw 0vw 2vw;
}

.oddLine {
	padding-left: 2vw;
	background-color: #f2d5d3;
	margin-bottom: 1vh;
}
.evenLine {
	padding-left: 2vw;
	background-color: #e0e0e0;
	margin-bottom: 1vh;
}

#title {
	font-size: 120px;
	color: white;
	height: 100vh;
	width: 100vw;
	text-align: center;
	margin-top: 2.5vh;
}

#bottomBorder {
	position: fixed;
	width: 100vw;
	height: 15vh;
	background-color: red;
	margin-top: 85vh;
}
