#card {
	border-radius: 0;
}

#price {
	font-size: 4.5rem;
}

#upCircle {
	position: absolute;
	top: -2rem;
	left: calc(50% - 1.75rem);
	width: 3.5rem;
	height: 3.5rem;
	background-color: white;
	border-radius: 50%;
}
#downCircle {
	position: absolute;
	bottom: -2rem;
	left: calc(50% - 1.75rem);
	width: 3.5rem;
	height: 3.5rem;
	background-color: white;
	border-radius: 50%;
}
#registered_date {
	position: absolute;
	top: 1vh;
	right: 2vw;
	font-size: 1.2rem;
	color: white;
	z-index: 2;
}

#guideSymbol {
	position: relative;
	top: 19vh;
	margin-left: 38vw;
}
#cartImg {
	position: absolute;
	top: 0;
	left: 0;
	animation: motion 1.8s linear 0s infinite;
	margin-top: 0;
}        
#cartArrow {
	position: absolute;
	top: 13vh;
	left: 0;
	border-top: 2vh solid hsl(348, 100%, 61%);
	border-right: 10vw solid transparent;
	border-left: 10vw solid transparent;
	animation: motion 1.8s linear 0s infinite;
	margin-top: 0;
}        
@keyframes motion {
	0% {margin-top: 0;}
	50% {margin-top: 2vh;}
	100% {margin-top: 0vh;}
}

#formBothCase {
	position: relative;
	top: 2rem;
	width: 100vw;
}

#upBtn>button {
	height: 30vw;
	width: 30vw;
}
#upBtn>button>i {
	font-size: 20vw;
}
#power_upBtn>button {
	height: 30vw;
	width: 20vw;
}
#poser_upBtn>button>i {
	font-size: 15vw;
}
#downBtn>button {
	height: 30vw;
	width: 30vw;
}
#downBtn>button>i {
	font-size: 20vw;
}
#power_downBtn>button {
	height: 30vw;
	width: 20vw;
}
#power_downBtn>button>i {
	font-size: 15vw;
}

#power_upBtn {
	position: relative;
	float: right;
	top: 2rem;
	margin-right: 3vw;
}
#upBtn {
	position: relative;
	float: right;
	top: 2rem;
	margin-right: 3vw;
}
#power_downBtn {
	position: relative;
	float: right;
	margin-top: 2rem;
	margin-right: 3vw;
}
#downBtn {
	position: relative;
	float: right;
	margin-top: 2rem;
	margin-right: 3vw;
}

#submitBtn {
	position: relative;
	width: 90vw;
	margin-top: 1rem;
	margin-left: 5vw;
	margin-bottom: 1rem;
}

#mobilePlace_ {
	width: 80vw;
	left: 10vw;
}

#quantityIndicator {
	position: relative;
	font-size: 30vw;
	top: 5vw;
	margin-left: 5vw;
	width: vw;
	padding: 3vw;
    text-align: center;
	color: hsl(0, 0%, 29%);
}

#bottomSpace {
	position: absolute;
	top: 110vh;
	height: 1px;
	width: 1px;
}
