body {
	margin: 0;
}

#name {
	position: absolute;
	top: 15vh;
	left: 17vw;
	width: 80vw;
	font-size: 60px;
}

#size {
	position: absolute;
	top: 21vh;
	left: 17vw;
	width: 80vw;
	font-size: 60px;
}

#title {
	position: absolute;
	right: 0vw;
	font-size: 45px;
	background-color: red;
	color: white;
	padding: 2vw;
	z-index: 2;
}

#box {
	position: absolute;
	top: 32vh;
	width: 100vw;
	height: 30vh;
	background-color: red;
}

#upCircle {
	position: relative;
	top: -5vh;
	margin: 0px auto;
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
}
#downCircle {
	position: relative;
	top: 18vh;
	margin: 0px auto;
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
}

#price {
	position: absolute;
	color: white;
	text-align: center;
	top: 9vh;
	width: 100vw;
	font-size: 200px;
	z-index: 2;
}

#registered_date {
	position: absolute;
	color: white;
	top: 2vh;
	right: 4vw;
	font-size: 40px;
	z-index: 2;
}

#cartArrow {
	position: absolute;
	top: 92vh;
	left: 40vw;
	border-top: 2vh solid red;
	border-right: 10vw solid transparent;
	border-left: 10vw solid transparent;
	animation: motion 1.8s linear 0s infinite;
	margin-top: 0;
}        
#cartImg {
	position: absolute;
	top: 79vh;
	left: 40vw;
	animation: motion 1.8s linear 0s infinite;
	margin-top: 0;
}        
@keyframes motion {
	0% {margin-top: 0;}
	50% {margin-top: 2vh;}
	100% {margin-top: 0vh;}
}

#cookie {
	position: absolute;
	top: 70vh;
	left: 10vw;
}

#mobilePlace {
	font-size: 60px;
	width: 50vw;
	border: solid 1px grey;
}

#cookie>div {
	font-size: 60px;
}

#submit {
	position: absolute;
	background-color: transparent;
	top: 35vh;
	left: 5vw;
	font-size: 120px;
	color: red;
	border: solid 9px red;
	border-radius: 55px;
}

#quantityIndicator {
	position: absolute;
	top: 85vh;
	left: 23vw;
	font-size: 120px;
}

#quantityIndicator>span {
	font-size: 200px;
}

#upBtn {
	border-bottom: 10vh solid red;
	border-right: 13vw solid transparent;
	border-left: 13vw solid transparent;

	position: absolute;
	top: 80vh; 
	right: 13vw;
	transition: 100ms;
}
#upBtn:active {
	top: 79vh;
}

#downBtn {
	border-top: 10vh solid red;
	border-right: 13vw solid transparent;
	border-left: 13vw solid transparent;

	position: absolute;
	top: 95vh; 
	right: 13vw;
	transition: 100ms;
}
#downBtn:active {
	top: 96vh;
}

#bottomSpace {
	position: absolute;
	top: 121vh;
	height: 1px;
	width: 1px;
}
