body {
	margin: 0;
}
#barcodeBox {
	background-color: hsl(348, 100%, 61%);
	position: fixed;
	width: 100vw;
	height: 28vh;
	z-index: 1;
}
#lengthOfList {
	margin-top: 28vh;
	margin-left: 6vw;
	font-size: 4rem;
	padding: 2vw 2vw 5vw 2vw;
	background-color: white;
	z-index: 1;
}
#introBarcode {
	position: fixed;
	top: 7vh;
	left: 22vw;
	font-size: 11rem;
	z-index: 2;
}
#barcode {
	background-color: white;
	border-radius: 5rem;
	position: fixed;
	top: 2.5vh;
	left: 4vw;
	width: 90vw;
	height: 23vh;
	z-index: 1;
}

#list {
	position: absolute;
	top: 36vh;
	left: 5vw;
	width: 86vw;
	font-size: 4rem;
	padding: 2vw 2vw 0vw 2vw;
}
.quantity {
	position: absolute;
	right: 6vw;
}

.oddLine {
	padding-left: 2vw;
	background-color: hsl(347, 90%, 96%);
	margin-bottom: 1vh;
}
.evenLine {
	padding-left: 2vw;
	background-color: hsl(219, 70%, 96%);
	margin-bottom: 1vh;
}
#listSpacer {
	height: 1px;
	margin-bottom: 120vh;
}

#title {
	font-size: 9rem;
	color: white;
	height: 100vh;
	width: 100vw;
	text-align: left;
	margin-top: 2vh;
	margin-left: 4vw;
}

#bottomBorder {
	position: fixed;
	width: 100vw;
	height: 15vh;
	background-color: hsl(348, 100%, 61%);
	margin-top: 85vh;
}

